html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

.visible { 
    display: block;
}

.invisible { 
    display: none;
}

.booking {
    white-space: nowrap;
}

.booking-times {
    display: inline-block;
    width: 25%;
    min-width: 130px;
    vertical-align: top;
}

.booking-info {
    display: inline-block;
    width: 74%;
    vertical-align: top;
}